.scroll-container {
  height: 174px;
  overflow-y: scroll;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #00000028; /* Thay đổi màu nền nếu cần */
}

.scroll-container::-webkit-scrollbar {
  width: 8px; /* Chiều rộng của thanh scroll */
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #888; /* Màu của phần kéo thanh scroll */
  border-radius: 4px; /* Bo góc phần kéo */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Màu của phần kéo khi hover */
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent; /* Màu nền của track thanh scroll */
}


.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll-container::-webkit-scrollbar-track {
  background: #524f4f;
  border-radius: 2px;
}

